a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: none;
}


.had {
    height: 80px;
    border-bottom: 3px solid black;
    display: flex;
}

.join {
    font-size: 20px;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 25px;
}

.main {
    margin: 8% 30%;
    width: 600px;
    height: 600px;
    border: 1px solid gray;
}

.insert_id {
    display: flex;
    margin-left: -12px;
}

.insert_password {
    display: flex;
    margin-left: -30px;
}

.insert_name {
  display: flex;
}

.insert_sex {
    display: flex;
}

.insert_school {
    display: flex;
}

.insert_grade {
    display: flex;
}

.insert_option {
    display: flex;
}

.middle {
    margin-left: 250px;
    height: 30px;
    margin-top: 30px;
    font-size: 25px;
}

.button {
    font-size: 15px;
    font-weight: bold;
    margin-left: 110px;
    margin-top: 10px;
}

.from_txt {
    margin-left: 150px;
    margin-top: 50px;
}

.from_tit {
    margin-top: 50px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 16px;
}

.go_home{
    font-size: 40px;
    margin-left: 250px;
    font-weight: bold;
}

.button{
    
    margin-left: 80%;
    margin-top: 5%;
}