a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.nav {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
}

.menu {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.menu_content {
  height: 35px;
  align-items: center;
  display: flex;
  margin-left: 280px
}

.nav-item {
  margin-left: 20px;
}

.title {
  align-self: center;
  font-size: 60px;
  font-weight: bold;
  margin: auto;
}

.login-wrap {
  position:absolute;
  right: 280px
}

